.contenedor1{
    background-color: rgb(107, 85, 231);
    display: flex;
}

.contenedor1 div{
    background-color: rgb(73, 202, 22); 
    color: rgb(207, 154, 6);
    margin: 5px; 
    padding: 5px; 
    /* width: 100px;*/
    flex-basis: 100px;
}

@media (max-with: 600px){
    .contenedor1{
        flex-direction: column;
    }

    .contenedor1 div{
         /*width: 95%;*/
         flex-basis: 100%;
    }
}